<div class='content'>
  <%- include('../views/parts/header.ejs', {value: values ,user: user, token}) %>
</div>
<style>
  html,
  body {
    overflow: hidden;
  }

  .modal {
    position: absolute;
    width: 97.2vw;
    height: 100vh;
    top: 0;
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

  }

  .close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10%;
    top: 5%;
    width: 10px;
    height: 10px;
    padding: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
  }

  .close:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  .modal-content {
    z-index: 2;
    background: rgb(255, 255, 255);
    margin: 0;
    width: 80%;
    height: 300px;
    margin-top: -10%;
    overflow-y: auto;
    overflow-x: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    border-radius: 5px;
  }

  #data-table {
    border-spacing: 0 0.2rem;
    width: 10%;
    color: #666;
  }

  table tbody tr:hover {
    opacity: 1;
  }

  #obs,
  #cli_nome,
  #banco_origem,
  #tipo_operacao,
  #status {
    overflow-x: hidden;
    text-align: left;
    white-space: nowrap;
  }

  #tipo_operacao,
  #banco_origem {
    text-align: center;
  }

  table tbody tr.vermelho td {
    color: #333;
    background: rgb(255, 172, 157);
    text-align: center;
  }

  table tbody tr.verde td {
    color: #333;
    background: rgb(205, 255, 226);
    text-align: center;
  }

  table tbody tr.branco td {
    color: #333;
    background: rgb(255, 255, 255);
    text-align: center;
  }

  table tbody tr.roxo td {
    color: #333;
    background: rgb(186, 213, 255);
    text-align: center;
  }

  table tbody tr.amarelo td,
  table tbody tr td {
    color: #333;
    background: rgb(255, 254, 200);
    text-align: center;
  }

  table#data-table th {
    background: #1e7eb5;
    font-weight: normal;
    padding: 0.1rem 5rem;
    color: #fff;
    text-align: left;
  }

  table#data-table td {
    font-weight: normal;
    padding: 0rem 1.5rem;
    overflow: auto;
  }

  .open {
    text-decoration: none;
    color: #666;
    font-weight: bold;

  }

  .content {
    display: flex;
    justify-content: center;
    filter: blur(4px);
  }
</style>

<div class='modal'>
  <a class='close' href='/principal/<%=user.username%>/<%=token%>'>X</a>


  <section class='modal-content'>
    <div>

      <table id='data-table'>
        <thead>
          <tr>
            <th></th>
            <th>Criado</th>
            <th>Status</th>
            <th>Nº Benefício</th>
            <th>Tipo de Operação</th>
            <th>Valor Parcela</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Vendedor</th>
            <th>Usuário</th>
            <th>Operacional</th>
            <th>Supervisor</th>
            <th>Banco Origem</th>
            <th>Quitação</th>
            <th>Parcelas Restantes</th>
            <th>Contrato</th>
            <th>Taxa</th>
            <th>Obs</th>
          </tr>
        </thead>
        <tbody>


          <% for(var i=0; i<values.length; i++) { %>
            <% if( values[i].status=="CANCELADO" || values[i].status=="DESISTENCIA CLIENTE" ){%>
              <tr class='vermelho'>
                <%}else if(values[i].status=="AVERBADO" || values[i].status=="INCLUSÃO EFETUADA" ){%>
              <tr class='verde'>
                <%}else if(values[i].status=="RETORNAR CLIENTE" ){%>
              <tr class='roxo'>
                <%}else if(values[i].status=="VENDA" || values[i].status=="DIGITAR" ){%>
              <tr class='branco'>
                <%}else{%>
              <tr class='amarelo'>
                <%}%>
                  <td><a class='open' href='/search_client/<%=user.username %>/<%= token%>/<%= values[i].id%>'>Abrir</a>
                  </td>
                  <td id='created_at'>
                    <%= String(values[i].created_at).slice(4, 25 ) %>
                  </td>

                  <td id='status'>
                    <%= values[i].status %>
                  </td>
                  <td id='cli_matricula'>
                    <%= values[i].cli_matricula %>
                  </td>
                  <td id='tipo_operacao'>
                    <%= values[i].tipo_operacao %>
                  </td>
                  <td id='v_parcela'>
                    <%= values[i].v_parcela %>
                  </td>
                  <td id='cli_nome'>
                    <%= values[i].cli_nome %>
                  </td>
                  <td id='cli_cpf'>
                    <%= values[i].cli_cpf %>
                  </td>
                  <td id='vendedor'>
                    <%= values[i].vendedor %>
                  </td>
                  <td id='operador'>
                    <%= values[i].operador %>
                  </td>
                  <td id='operacional'>
                    <%= values[i].operacional %>
                  </td>
                  <td id='supervisor'>
                    <%= values[i].supervisor %>
                  </td>
                  <td id='banco_origem'>
                    <%= values[i].banco_origem %>
                  </td>
                  <td id='quitacao'>
                    <%= values[i].quitacao %>
                  </td>
                  <td id='parcelas_restantes'>
                    <%= values[i].parcelas_restantes %>
                  </td>
                  <td id='n_contrato'>
                    <%= values[i].n_contrato %>
                  </td>
                  <td id='taxa'>
                    <%= values[i].taxa %>
                  </td>
                  <td id='obs'>
                    <%= values[i].obs %>
                  </td>
              </tr>
              <% }%>
        </tbody>
      </table>
    </div>
  </section>

</div>

<div class='content'>
  <%- include('../views/parts/formulario.ejs', {value: values, user: user, token}) %>
</div>

<a href="/"><img src="/images/logout.png" class='logout' alt="Logout" /></a>
<script src='/scripts/mascaras.js' type='text/javascript'></script>
<script src='/scripts/disparos.js' type='text/javascript'></script>

</body>

</html>