<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/relatorio.css">
  <link rel="stylesheet" href="/styles/principal.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/logo.jpg">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <title>Aquilacred</title>
</head>

<body>
  <header class='Headertotal'>
    
    <span></span>

    <input type="submit" style='width: 10rem;margin-left: 4.5rem;' class="botButton" id='callBot' value='Relatorio' >
    <!-- CONGRATIBILITY -->
    <div class='congrats'>
      <p>Bem Vindo,<br /><span>
          <%= user.name %>
        </span></p>
    </div>

    
  </header>

  <main>
    <div class="large" >
      <form id="form-generate" method='post' action="/generate/<%= user.username%>/<%= token %>">
        <div>
          <label for="de">De:
            <input type="date" name="de" id='de'>
          </label>  
        </div>
        
        <div>
          <label for="ate">Até
            <input type="date" name="ate" id='ate'>
          </label>
        </div>
        
      </form>
      <div>
        <input type="submit" value="Gerar" class="enviar" form='form-generate'/>
        <% if(isNaN(result)){%>
        <a href="/download" class='reset' style=''>Baixar</a>
        <% }%>
      </div>
      
    </div>
    
    <% if(isNaN(result)){%>
    
    <section id="transaction">
      <div>
        
        <table id="data-table">
          <thead>
          <tr>
            <th>Criado</th>
            <th>Operador</th>
            <th>Supervisor</th>
            <th >Nome</th>
            <th>CPF</th>
            <th>Data Nasc.</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>CEP</th>
            <th>Contato1</th>
            <th>Contato2</th>
            <th>Nº Benefício</th>
            <th>Banco</th>
            <th>Agência</th>
            <th>Tipo</th>
            <th>Nº Conta</th>
            <th>Tipo Conta</th>
            <th>Banco origem</th>
            <th>Data Inicio</th>
            <th>Quitação</th>
            <th>Parcelas</th>
            <th>Restantes</th>
            
            <th>Contrato</th>
            <th>Taxa</th>
            <th>Status</th>
            <th>Anexo</th>
            <th>Obs</th>
          </tr>
          </thead>
          <tbody>


            <% for(var i=0; i<result.length; i++) { %>
              <tr>
                
                <td id='created_at'>
                  <%= String(result[i].created_at).slice(4, 25 ) %>
                </td>

                <td id='operador'><%= result[i].operador %></td>
                <td id='supervisor'><%= result[i].supervisor %></td>
                <td id='cli_nome' > <%= result[i].cli_nome %></td>
                <td id='cli_cpf'><%= result[i].cli_cpf %></td>
                <td id='cli_data_nasc'><%= result[i].cli_data_nasc %></td>
                <td id='endereco'><%= result[i].ENDERECO %></td>
                <td id='cidade'><%= result[i].CIDADE %></td>
                <td id='uf'><%= result[i].UF_ENDERECO %></td>
                <td id='cep'><%= result[i].CEP %></td>
                <td id='contato1'><%= result[i].contato1 %></td>
                <td id='contato2'><%= result[i].contato2 %></td>
                <td id='cli_matricula'><%= result[i].cli_matricula %></td>
                <td id='banco'><%= result[i].Banco %></td>
                <td id='ag'><%= result[i].Agencia_Pagto %></td>
                <td id='especie'><%= result[i].especie %></td>
                <td id='contacorrente'><%= result[i].contacorrente %></td>
                <td id='meiopagto'><%= result[i].meiopagto %></td>
                <td id='infobanco'><%= result[i].info1 %></td>
                <td id='infodata'><%= result[i].info2 %></td>
                <td id='infototal'><%= result[i].info6 %></td>
                <td id='infoparcelas'><%= result[i].info3 %></td>
                <td id='inforestantes'><%= result[i].info5 %></td>
                <td id='infocontrato'><%= result[i].info8 %></td>
                <td id='infotaxa'><%= result[i].info9 %></td>
                <td id='infostatus'><%= result[i].status %></td>
                <td id='url'> <a href="<%= result[i].url %>" target="_blank">Anexo</a></td>
                <td id='obs'><%= result[i].obs %></td>
              </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </section>
    <%}%>
  </main>

  <a href="/">
    <img src="/images/logout.png" class='logout' alt="Logout" />
  </a>
  
  <a href="/principal/<%= user.username%>/<%= token%>">
    <img class='voltar' src="/images/voltar.png" alt="Voltar" />
  </a>


  


</body>
</html>