
<form method="post" enctype="multipart/form-data" class="principal" action="/save_data_client/<%= user.username %>/<%= token%>"  > 

<h2>Operador</h2>
<div class='group'>
  <% if(!value?.id && !Object(value).hasOwnProperty('id')){ %>
    
  <%}else{%>
    <input type="hidden" name="id" value="<%= value?.id %>"/>
  <%}%>
  <div>
    <label for='operador'>Usuário</label>
    <input type="text" name='operador' id='operador' value='<%=user.name%>' readonly/>
  </div>


  <div>
  <label for='supervisor'>Supervisor</label>
  <% if(!value?.supervisor && !Object(value).hasOwnProperty('supervisor')){ %>
    <select name='supervisor' id='supervisor' style='width:60%;' >
      <option value=""></option>
      <option value="EQUIPE 1">EQUIPE 1</option>
      <option value="EQUIPE 2">EQUIPE 2</option>
      <option value="EQUIPE 3">EQUIPE 3</option>
      <option value="EQUIPE 4">EQUIPE 4</option>
      <option value="EQUIPE 5">EQUIPE 5</option>
      <option value="EQUIPE 6">EQUIPE 6</option>
      <option value="EQUIPE 7">EQUIPE 7</option>
      <option value="EQUIPE 8">EQUIPE 8</option>
      <option value="EQUIPE 9">EQUIPE 9</option>
      <option value="EQUIPE 10">EQUIPE 10</option>
  <% }else{ %>
    <select name='supervisor' id='supervisor' style='width:60%;'>
      <% let arraySupervisor = ['', 'EQUIPE 1' , 'EQUIPE 2', 'EQUIPE 3', 'EQUIPE 4', 'EQUIPE 5', 'EQUIPE 6', 'EQUIPE 7', 'EQUIPE 8', 'EQUIPE 9', 'EQUIPE 10'] %>
      <option value="<%= arraySupervisor.find(element => element == value.supervisor.toUpperCase()) %>">
        <%= arraySupervisor.find(element => element == value.supervisor.toUpperCase()) %>
      </option>
      
      <% arraySupervisor.forEach(function(supervisor, i){%>
        <% if( i !== (arraySupervisor.findIndex(element => element == value.supervisor.toUpperCase() )) ){%>
          <option value="<%= supervisor %>"><%= supervisor %></option>
        <%}%>
      <% }) %>
  <% } %>
    </select>
  </div>


  <div>
  <label for='operacional'>Operacional</label>
  <% if(!value?.operacional && !Object(value).hasOwnProperty('operacional')){ %>
    <select name='operacional' id='operacional'>
      <option value=""></option>
      <option value="OPERACIONAL 1">OPERACIONAL 1</option>
      <option value="OPERACIONAL 2">OPERACIONAL 2</option>
      <option value="OPERACIONAL 3">OPERACIONAL 3</option>
      <option value="OPERACIONAL 4">OPERACIONAL 4</option>
      <option value="OPERACIONAL 5">OPERACIONAL 5</option>
      <option value="OPERACIONAL 6">OPERACIONAL 6</option>
      <option value="OPERACIONAL 7">OPERACIONAL 7</option>
      <option value="OPERACIONAL 8">OPERACIONAL 8</option>
      <option value="OPERACIONAL 9">OPERACIONAL 9</option>
      <option value="OPERACIONAL 10">OPERACIONAL 10</option>
  <% }else{ %>
    <select name='operacional' id='operacional'>
      <% let arrayOperacional = ['', 'OPERACIONAL 1' , 'OPERACIONAL 2', 'OPERACIONAL 3', 'OPERACIONAL 4', 'OPERACIONAL 5', 'OPERACIONAL 6', 'OPERACIONAL 7', 'OPERACIONAL 8', 'OPERACIONAL 9', 'OPERACIONAL 10'] %>
      <option value="<%= arrayOperacional.find(element => element == value.operacional.toUpperCase()) %>">
        <%= arrayOperacional.find(element => element == value.operacional.toUpperCase()) %>
      </option>
      
      <% arrayOperacional.forEach(function(operacional, i){%>
        <% if( i !== (arrayOperacional.findIndex(element => element == value.operacional.toUpperCase() )) ){%>
          <option value="<%= operacional %>"><%= operacional %></option>
        <%}%>
      <% }) %>
  <% } %>
    </select>
  </div>

  <div>
    <label for='vendedor'>Vendedor</label>
    <input type="text" name='vendedor' id='vendedor' value="<%= value == null || value == undefined || value.length < 20? "": value.vendedor %>" />
  </div>


</div>

<h2>Cliente</h2>
<div class='group'>
  <div>
    <label for='cpf'>CPF</label>
      <input value="<%= value == null || value == undefined || value.length < 20? "": value.cli_cpf %>" type="text" id='cpf' name='cpf' maxlength="14" onkeypress="mask(this, mCPF);" onblur="mask(this, mCPF);"/>
  </div>

  <div>
    <label for='dt_nasc'>Data de Nascimento</label>
    <input value="<%= value == null || value == undefined || value.length < 20? "": value.cli_data_nasc %>"  type="text" id='dt_nasc' name='dt_nasc' maxlength="10" onkeypress="mascaraData(this)"/>
  </div>

  <div class='large'> 
    <label for='nome'>Nome</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.cli_nome %>" type="text" name='nome' id='nome' style='width:89%;'/>
  </div>
</div>


<h2>Contato</h2>
<div class='group'>
  <div class='large'>
    <label for='end'>Endereço</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.ENDERECO %>" type="text" id='end' name='end' style='width:89%;'/>
  </div>

  <div>
    <label for='bairro'>Bairro</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.BAIRRO %>" type="text" id='bairro' name='bairro'/>
  </div>

  <div>
    <label for='municipio'>Município</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.CIDADE %>" type="text" id='municipio' name='municipio'/>
  </div>

  <div>
    <label for='uf'>UF</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.UF_ENDERECO %>" type="text" id='uf' name='uf' maxlength="2"/>
  </div>

  <div>
    <label for='cep'>CEP</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.CEP %>" type="text" id='cep' name='cep' maxlength="8"/>
  </div>

  <div>
    <label for='tel'>Telefone</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.contato1 %>" type="text" id='tel' onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" name='tel' maxlength="14"/>
  </div>

  <div>
    <label for='cel'>Zap</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.contato2 %>" type="text" id='cel' name='cel' onkeypress="mask(this, mphoneC);" onblur="mask(this, mphoneC);" />
  </div>
  </div>


  <h2>Dados bancários</h2>
  <div class='group'> 
  <div>
    <label for='n_beneficio'>Nº Benefício</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.cli_matricula %>" type="text" id='n_beneficio' name='n_beneficio'/>
  </div>

  <div>
    <label for='salario'>Salário</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.rf_extra_base_margem %>" type="text" id='salario' name='salario' onkeyup='formatarMoeda(this)' />
  </div>

  <div>
    <label for='banco'>Banco</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.Banco %>" type="text" id='banco' name='banco'/>
  </div>

  <div>
    <label for='ag'>AG</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.Agencia_Pagto %>" type="text" id='ag' name='ag'/>
  </div>

  <div>
    <label for='tipo'>Tipo</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.especie %>" type="text" id='tipo' name='tipo'/>
  </div>

  <div>
    <label for='n_conta'>Nº Conta</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.contacorrente %>" type="text" id='n_conta' name='n_conta'/>
  </div>



  <!-- LOGICA DO TIPO DE CONTA CASO VENHA DADOS DO BOT -->
  <div>
    <label for='tipo_conta'>Tipo de Conta</label>
    <% if( !value?.meiopagto && !Object(value).hasOwnProperty('meiopagto')){ %>
      <select name='tipo_conta' id='tipo_conta'>
        <option value=""></option>
        <option value="CONTA CORRENTE">CONTA CORRENTE</option>
        <option value="POUPANÇA">POUPANÇA</option>
        <option value="CARTÃO MAGNÉTICO">CARTÃO MAGNÉTICO</option>
    <% }else{ %>
      <select name='tipo_conta' id='tipo_conta'>
        <% let arrayTiposConta = ['','CONTA CORRENTE','POUPANÇA','CARTÃO MAGNÉTICO'] %>
        <option value="<%= arrayTiposConta.find(element => element == value.meiopagto.toUpperCase()) %>">
          <%= arrayTiposConta.find(element => element == value.meiopagto.toUpperCase()) %>
        </option>
        
        <% arrayTiposConta.forEach(function(tipo, i){%>
          <% if( i !== (arrayTiposConta.findIndex(element => element == value.meiopagto.toUpperCase() )) ){%>
            <option value="<%= tipo %>"><%= tipo %></option>
          <%}%>
        <% }) %>
    <% } %>
      </select>
  </div>
</div>




<div>
<h2>Tipo de Operação

<% if(!value?.tipo_operacao && !Object(value).hasOwnProperty('tipo_operacao')){ %>
  <select name='tipo_operacao' id='tipo_operacao' onclick="changeOperation()">
    <option value="REFIN">REFIN</option>
    <option value="MARGEM">MARGEM</option>
    <option value="REFIN UNIF">REFIN UNIF</option>
    <option value="REFIN + MARGEM">REFIN + MARGEM</option>
    <option value="PORTABILIDADE">PORTABILIDADE</option>
    <option value="PORT + REFIN">PORT + REFIN</option>
    <option value="PORT + REDUÇÃO">PORT + REDUÇÃO</option>
    <option value="SAQUE COMPLEMENTAR">SAQUE COMPLEMENTAR</option>
    <option value="CARTÃO">CARTÃO</option>
    <option value="CARTÃO + SAQUE">CARTÃO + SAQUE</option>
    <option value="FGTS">FGTS</option>
    <option value="CREDITO CONTA">CREDITO CONTA</option>
<% }else{ %>
  <select name='tipo_operacao' id='tipo_operacao' onclick="changeOperation()">
    <% let arrayTiposDeOperacoes = ['REFIN' , 'MARGEM', 'REFIN UNIF', 'REFIN + MARGEM','PORTABILIDADE', 'PORT + REFIN', 'PORT + REDUÇÃO', 'SAQUE COMPLEMENTAR', 'CARTÃO', 'CARTÃO + SAQUE', 'FGTS', 'CREDITO CONTA'] %>
    <option value="<%= arrayTiposDeOperacoes.find(element => element == value.tipo_operacao.toUpperCase()) %>">
      <%= arrayTiposDeOperacoes.find(element => element == value.tipo_operacao.toUpperCase()) %>
    </option>
    
    <% arrayTiposDeOperacoes.forEach(function(tipo_operacao, i){%>
      <% if( i !== (arrayTiposDeOperacoes.findIndex(element => element == value.tipo_operacao.toUpperCase() )) ){%>
        <option value="<%= tipo_operacao %>"><%= tipo_operacao %></option>
      <%}%>
    <% }) %>
<% } %>
  </select>
</h2>
</div>





<div class="group">
  <!-- DADOS RETIRADOS DAS TABELAS *****************************************-->
  <div id='div_banco_original' class='hide'>
    <label for='banco_origem'>Banco Origem</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.banco_origem %>" type="text" id='banco_origem' name='banco_origem'/>
  </div>

  
    <div id='div_quitacao' class='hide'>
    <label for='quitacao'>Quitação</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.quitacao %>" type="text" id='quitacao' name='quitacao' onkeyup='formatarMoeda(this)'/>
  </div>
  
  <div id='div_v_parcela' class='hide'>
    <label for='v_parcela'>Valor Parcela</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.v_parcela %>" type="text" id='v_parcela' name='v_parcela' onkeyup='formatarMoeda(this)'/>
  </div>

  <div id='div_total_parcelas' class='hide'>
    <label for='parcelas'>Total de Parcelas</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.total_parcelas %>" 
    type="text" id='parcelas' name='parcelas' />
  </div>

  <div id='div_parcelas_restantes' class='hide'>
    <label for='prazo'>Parcelas restantes</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.parcelas_restantes %>" 
    type="text" id='prazo' name='prazo' onChange="calculatePg()" onkeyup="calculatePg()" onblur="calculatePg()"/>
  </div>

  <div id='div_qtd_parcelas' class='hide'>
    <label for='qtd_pagas'>Parcelas Pagas</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.qtd_pagas  %>" type="text" id='qtd_pagas' 
    name='qtd_pagas' alt='O valor é calculado automaticamente quando inserido a quantidade de parcelas e as restantes' 
    onChange="calculateRest()" onkeyup="calculateRest()" onblur="calculateRest()"/>
  </div>



  <div id='div_parcela_desejada' class='hide'>
    <label for='desejada'>Parcela desejada</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.desejada %>" type="text" id='desejada' name='desejada'/>
  </div>



  <div id='div_n_contrato' class='hide'>
    <label for='contrato'>Nº Contrato</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.n_contrato %>" type="text" id='contrato' name='contrato'/>
  </div>
  
  <div id='div_taxa' class='hide'>
    <label for='taxa'>Taxa</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.taxa %>" type="text" id='taxa' name='taxa'/>
  </div>

  <div id='div_margem' class='hide'>
    <label for='margem'>Margem</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.margem %>" type="text" id='margem' name='margem'/>
  </div>


  <div id='div_parcela_nova' class='hide'>
    <label for='parcela_nova'>Parcela Nova</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.parcela_nova %>" type="text" id='parcela_nova' name='parcela_nova' onkeyup='formatarMoeda(this)'/>
  </div>


  <div id='div_valor_saque' class='hide'>
    <label for='valor_saque'>Valor Saque</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.valor_saque %>" type="text" id='valor_saque' name='valor_saque' onkeyup='formatarMoeda(this)'/>
  </div>



  <!-- LOGICA DO SELECT PARA CASO VENHA DADOS DO BOT -->
  <div>
    <label for='status'>Status</label>
    <% if(!value?.status && !Object(value).hasOwnProperty('status')){ %>
      <select name='status' id='status'>
        <option value=""></option>
        <option value="CANCELADO">CANCELADO</option>
        <option value="AGUARDANDO ACEITE">AGUARDANDO ACEITE</option>
        <option value="AVERBADO">AVERBADO</option>
        <option value="VENDA">VENDA</option>
        <option value="AGUARDANDO SALDO DIG">AGUARDANDO SALDO DIG</option>
        <option value="AGUARDANDO SALDO FIS">AGUARDANDO SALDO FIS</option>
        <option value="AGUARDANDO AVERB INSS">AGUARDANDO AVERB INSS</option>
        <option value="AGUARDANDO DOC">AGUARDANDO DOC</option>
        <option value="DESISTENCIA CLIENTE">DESISTENCIA CLIENTE</option>
        <option value="REDIGITAR">REDIGITAR</option>
        <option value="PENDENTE">PENDENTE</option>
        <option value="RETORNAR CLIENTE">RETORNAR CLIENTE</option>
        <option value="SEM CONTATO">SEM CONTATO</option>
        <option value="DIGITAR">DIGITAR</option>
        <option value="PAGAMENTO">PAGAMENTO</option>
        <option value="INCLUSÃO EFETUADA">INCLUSÃO EFETUADA</option>
    <% }else{ %>
      <select name='status' id='status'>
        <% let arrayStatus = ['','CANCELADO','AGUARDANDO ACEITE','AVERBADO', 'VENDA',  'AGUARDANDO SALDO DIG', 'AGUARDANDO SALDO FIS', 'AGUARDANDO AVERB INSS', 'AGUARDANDO DOC', 'DESISTENCIA CLIENTE', 'REDIGITAR', 'PENDENTE', 'RETORNAR CLIENTE' ,'SEM CONTATO', 'DIGITAR', 'PAGAMENTO', 'INCLUSÃO EFETUADA'] %>
        <option value="<%= arrayStatus.find(element => element == value.status.toUpperCase()) %>">
          <%= arrayStatus.find(element => element == value.status.toUpperCase()) %>
        </option>
        
        <% arrayStatus.forEach(function(status, i){%>
          <% if( i !== (arrayStatus.findIndex(element => element == value.status.toUpperCase() )) ){%>
            <option value="<%= status %>"><%= status %></option>
          <%}%>
        <% }) %>
    <% } %>
      </select>
  </div>




</div>







<h2>Proposta Cliente</h2>
<div class="group">

  <div>
    <label for='b_digitado'>Banco Digitado
      <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.b_digitado %>" type="text" name='b_digitado' id='b_digitado'/>
    </label>
  </div>

  <div>
    <label for='n_proposta'>Nº Proposta</label>
      <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.n_proposta %>" type="text" name='n_proposta' id='n_proposta'/>
  </div>

  <div>
    <label for='v_liberado'>Valor liberado
      <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.v_liberado %>" type="text" name='v_liberado' id='v_liberado' onkeyup='formatarMoeda(this)'/>
    </label>
  </div>

  <div>
    <label for='s_digitada'>Senha digitada
      <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.s_digitada %>" type="text" name='s_digitada' id='s_digitada' />
    </label>
  </div>

</div>



<!-- DIV GROUP DADOS ADICIONAIS -->


  <h2>Dados adicionais</h2>
  <div class="group">
  <div class='large'>
    <label for='obs'>Observação</label>
    <textarea id='obs' name='obs'><%= value.obs%></textarea>
  </div>


  <div class='large' style='display: flex;
  justify-content: center;'>
    <label for='anexo'>Anexo
      <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
      <input type='text' name='type' id='type' style="display: none; visibility: hidden;">
      <input type='file' id='anexo' name='anexo' onchange="anexoViewer()" >
    </label>
  </div>

  <!-- STATUS DO ANEXO -->
  <div class='large' style='display: flex;
  justify-content: center; width: 100%;background-color: #fff; margin-bottom: 50px;'>

    <% if(value.url === '' || value.url === undefined){ %>
      <span id='status_anexo'  style='color:tomato'>Sem anexo</span>
      <% }else{ %> 

    <span style='color: #1e7eb5' >
      <a href='<%= value.url%>' target='_blank'>  
        Anexo Salvo
      </a>
    </span>
    <% } %> 
  </div>

  <div class='large' style='display: flex;
  justify-content: center;'>
    <input type="submit" value='Salvar' class='enviar' style="margin-right: 31%;">
    <a href='/relatorio/<%= user.username %>/<%= token%>' class='reset' id='relatorio' style='background-color:#1e7eb5; color: #fff; font-size: 0.8rem; border-radius: 5px;'>Relatório</a>
  </div>
  <a href='/principal/<%= user.username %>/<%= token%>' class='reset'>Limpar</a>
  

</div>
</form>







<!-- 

<div class="group">
  DADOS RETIRADOS DAS TABELAS 
  <div>
    <label for='banco_origem'>Banco Origem</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.info1 %>" type="text" id='banco_origem' name='banco_origem'/>
  </div>

  
    <div>
    <label for='quitacao'>Quitação</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.info6 %>" type="text" id='quitacao' name='quitacao'/>
  </div>
  
  <div>
    <label for='v_parcela'>Valor Parcela</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.v_parcela %>" type="text" id='v_parcela' name='v_parcela'/>
  </div>

  <div>
    <label for='parcelas'>Total de Parcelas</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.info3 %>" type="text" id='parcelas' name='parcelas' onChange="calculate()" onkeypress="calculate()" onblur="calculate()"/>
  </div>

  <div>
    <label for='qtd_pagas'>Parcelas Pagas</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.qtd_pagas  %>" type="text" id='qtd_pagas' name='qtd_pagas' alt='O valor é calculado automaticamente quando inserido a quantidade de parcelas e as restantes' onChange="calculate()" onkeypress="calculate()" onblur="calculate()"/>
  </div>

  <div>
    <label for='prazo'>Parcelas restantes</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.info5 %>" type="text" id='prazo' name='prazo' onChange="calculate()" onkeypress="calculate()" onblur="calculate()"/>
  </div>

  <div>
    <label for='desejada'>Parcela desejada</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.desejada %>" type="text" id='desejada' name='desejada'/>
  </div>



  <div>
    <label for='contrato'>Nº Contrato</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.info8 %>" type="text" id='contrato' name='contrato'/>
  </div>
  
  <div>
    <label for='taxa'>Taxa</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.info9 %>" type="text" id='taxa' name='taxa'/>
  </div>

  <div>
    <label for='v_liberado'>Valor liberado</label>
    <input value="<%= value == null || value == undefined || value.length < 20 ? "": value.v_liberado %>" type="text" id='v_liberado' name='v_liberado'/>
  </div>


LOGICA DO SELECT PARA CASO VENHA DADOS DO BOT

  <div>
    <label for='status'>Status</label>
    <% if(!value?.status && !Object(value).hasOwnProperty('status')){ %>
      <select name='status' id='status'>
        <option value=""></option>
        <option value="AVERBADO">AVERBADO</option>
        <option value="CANCELADO">CANCELADO</option>
        <option value="AGUARDANDO CLIENTE">AGUARDANDO CLIENTE</option>
    <% }else{ %>
      <select name='status' id='status'>
        <% let arrayStatus = ['','AVERBADO','CANCELADO','AGUARDANDO CLIENTE'] %>
        <option value="<%= arrayStatus.find(element => element == value.status.toUpperCase()) %>">
          <%= arrayStatus.find(element => element == value.status.toUpperCase()) %>
        </option>
        
        <% arrayStatus.forEach(function(status, i){%>
          <% if( i !== (arrayStatus.findIndex(element => element == value.status.toUpperCase() )) ){%>
            <option value="<%= status %>"><%= status %></option>
          <%}%>
        <% }) %>
    <% } %>
      </select>
  </div>
</div>

-->