
<form method="post" action="/save_data_client/<%= user.username %>/<%= token%>"> 
  <div>
    <label for='cpf'>CPF</label>
      <input value="<%= value.length < 20 ? "": value.cli_cpf %>" type="text" id='cpf' name='cpf' maxlength="14" onkeypress="mask(this, mCPF);" onblur="mask(this, mCPF);"/>
  </div>

  <div>
    <label for='dt_nasc'>Data de Nascimento</label>
    <input value="<%= value.length < 20 ? "": value.cli_data_nasc %>"  type="text" id='dt_nasc' name='dt_nasc' />
  </div>

  <div>
    <label for='operador'>Operador</label>
    <input type="text" name='operador' id='operador' value='<%=user.name%>'/>
  </div>

  <div class='large'> 
    <label for='nome'>Nome</label>
    <input value="<%= value.length < 20 ? "": value.cli_nome %>" type="text" name='nome' id='nome' style='width:89%;'/>
  </div>

  <div class='large'>
    <label for='end'>Endereço</label>
    <input value="<%= value.length < 20 ? "": value.ENDERECO %>" type="text" id='end' name='end' style='width:89%;'/>
  </div>

  <div>
    <label for='bairro'>Bairro</label>
    <input value="<%= value.length < 20 ? "": value.BAIRRO %>" type="text" id='bairro' name='bairro'/>
  </div>

  <div>
    <label for='municipio'>Município</label>
    <input value="<%= value.length < 20 ? "": value.CIDADE %>" type="text" id='municipio' name='municipio'/>
  </div>

  <div>
    <label for='uf'>UF</label>
    <input value="<%= value.length < 20 ? "": value.UF_ENDERECO %>" type="text" id='uf' name='uf'/>
  </div>

  <div>
    <label for='cep'>CEP</label>
    <input value="<%= value.length < 20 ? "": value.CEP %>" type="text" id='cep' name='cep'/>
  </div>

  <div>
    <label for='tel'>Telefone</label>
    <input value="<%= value.length < 20 ? "": value.contato1 %>" type="text" id='tel' onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" name='tel' maxlength="14"/>
  </div>

  <div>
    <label for='cel'>Celular</label>
    <input value="<%= value.length < 20 ? "": value.contato2 %>" type="text" id='cel' name='cel' onkeypress="mask(this, mphoneC);" onblur="mask(this, mphoneC);" />
  </div>

  <div>
    <label for='n_beneficio'>Nº Benefício</label>
    <input value="<%= value.length < 20 ? "": value.cli_matricula %>" type="text" id='n_beneficio' name='n_beneficio'/>
  </div>

  <div>
    <label for='banco'>Banco</label>
    <input value="<%= value.length < 20 ? "": value.Banco %>" type="text" id='banco' name='banco'/>
  </div>

  <div>
    <label for='ag'>AG</label>
    <input value="<%= value.length < 20 ? "": value.Agencia_Pagto %>" type="text" id='ag' name='ag'/>
  </div>

  <div>
    <label for='tipo'>Tipo</label>
    <input value="<%= value.length < 20 ? "": value.especie %>" type="text" id='tipo' name='tipo'/>
  </div>

  <div>
    <label for='n_conta'>Nº Conta</label>
    <input value="<%= value.length < 20 ? "": value.contacorrente %>" type="text" id='n_conta' name='n_conta'/>
  </div>



  <!-- LOGICA DO TIPO DE CONTA CASO VENHA DADOS DO BOT -->
  <div>
    <label for='tipo_conta'>Tipo de Conta</label>
    <% if(value.meiopagto === undefined){ %>
      <select name='tipo_conta' id='tipo_conta'>
        <option value=""></option>
        <option value="CONTA CORRENTE">CONTA CORRENTE</option>
        <option value="POUPANÇA">POUPANÇA</option>
        <option value="CARTÃO MAGNÉTICO">CARTÃO MAGNÉTICO</option>
    <% }else{ %>
      <select name='tipo_conta' id='tipo_conta'>
        <% let arrayTiposConta = ['','CONTA CORRENTE','POUPANÇA','CARTÃO MAGNÉTICO'] %>
        <option value="<%= arrayTiposConta.find(element => element == value.meiopagto.toUpperCase()) %>">
          <%= arrayTiposConta.find(element => element == value.meiopagto.toUpperCase()) %>
        </option>
        
        <% arrayTiposConta.forEach(function(tipo, i){%>
          <% if( i !== (arrayTiposConta.findIndex(element => element == value.meiopagto.toUpperCase() )) ){%>
            <option value="<%= i %>"><%= tipo %></option>
          <%}%>
        <% }) %>
    <% } %>
      </select>
  </div>


  <!-- DADOS RETIRADOS DAS TABELAS *****************************************-->
  <div>
    <label for='banco_origem'>Banco Origem</label>
    <input value="<%= value.length < 20 ? "": value.info1 %>" type="text" id='banco_origem' name='banco_origem'/>
  </div>

  <div>
    <label for='data_inicio'>Data Inicio</label>
    <input value="<%= value.length < 20 ? "": value.info2 %>" type="text" id='data_inicio' name='data_inicio'/>
  </div>

  <div>
    <label for='quitacao'>Quitação</label>
    <input value="<%= value.length < 20 ? "": value.info6 %>" type="text" id='quitacao' name='quitacao'/>
  </div>

  <div>
    <label for='parcelas'>Parcelas</label>
    <input value="<%= value.length < 20 ? "": value.info3 %>" type="text" id='parcelas' name='parcelas'/>
  </div>

  <div>
    <label for='prazo'>Restantes</label>
    <input value="<%= value.length < 20 ? "": value.info5 %>" type="text" id='prazo' name='prazo'/>
  </div>

  <div>
    <label for='qtd_pagas'>Qtd Pagas</label>
    <input value="<%= value.length < 20 ? "": Number(value.info3) -  Number(value.info5) %>" type="text" id='qtd_pagas' name='qtd_pagas'/>
  </div>

  <div>
    <label for='contrato'>Contrato</label>
    <input value="<%= value.length < 20 ? "": value.info8 %>" type="text" id='contrato' name='contrato'/>
  </div>
  
  <div>
    <label for='taxa'>Taxa</label>
    <input value="<%= value.length < 20 ? "": value.info9 %>" type="text" id='taxa' name='taxa'/>
  </div>


  <!-- LOGICA DO SELECT PARA CASO VENHA DADOS DO BOT -->
  <div>
    <label for='status'>Status</label>
    <% if(value.status === undefined){ %>
      <select name='status' id='status'>
        <option value=""></option>
        <option value="AVERBADO">AVERBADO</option>
        <option value="CANCELADO">CANCELADO</option>
        <option value="GUARDANDO CLIENTE">AGUARDANDO CLIENTE</option>
    <% }else{ %>
      <select name='status' id='status'>
        <% let arrayStatus = ['','AVERBADO','CANCELADO','AGUARDANDO CLIENTE'] %>
        <option value="<%= arrayStatus.find(element => element == value.status.toUpperCase()) %>">
          <%= arrayStatus.find(element => element == value.status.toUpperCase()) %>
        </option>
        
        <% arrayStatus.forEach(function(status, i){%>
          <% if( i !== (arrayStatus.findIndex(element => element == value.status.toUpperCase() )) ){%>
            <option value="<%= i %>"><%= status %></option>
          <%}%>
        <% }) %>
    <% } %>
      </select>
  </div>



  <div class='large'>
    <label for='obs'>Observação</label>
    <textarea id='obs' name='obs'><%= value.obs%></textarea>
  </div>


  <div class='large' style='display: flex;
  justify-content: center;'>
    <label for='anexo'>Anexo
      <input type='file' id='anexo' name='anexo' onchange="anexoViewer()" >
    </label>
  </div>

  <!-- STATUS DO ANEXO -->
  <div class='large' style='display: flex;
  justify-content: center; width: 100%;background-color: #fff; margin-bottom: 50px;'>

    <% if(value.anexo === '' || value.anexo === undefined){ %>
      <span id='status_anexo'  style='color:tomato' ></span>
      <% }else{ %> 

    <span style='color: #1e7eb5' >
      <%= value.length < 20 ? "": "Anexo Salvo: "+value.anexo %>
    </span>
    <% } %> 
  </div>



  <div class='large' style='display: flex;
  justify-content: center;'>
    <input type="submit" value='Salvar' class='enviar'>
  </div>
</form>
